# This is my Project.

This is my second project in cousera I am excited to be here and the progress I have made so far.

List of data science langauges.
1. Python
2. R
3. SQL
4. scala
5. Matlab
6. Java
7. Javascript
8. saas
9. Go
10. julia

List of data science libraries
1. Pandas
2. seaborn
3. tensorflow
4. Numpy
5. pytorch
6. sciPy
7. matplotlab
8. beautifulsoup
9. keras
10. bokeh

Data SCience tools
1. Jupyter notebook
2. Excel
3. Anaconda
4. rstudio
5. spyder
6. Apache spark
7. Apache Hadoop
8. SQL
9. Github and Gitlab
10. Googlecolab
11. PowerBI
12. Tableau

introducing arithmetic expression examples
1.	Addition:
•	Example: 3+43+4
•	Result: 77
2.	Subtraction:
•	Example: 8−58−5
•	Result: 33
3.	Multiplication:
•	Example: 6×26×2
•	Result: 1212
4.	Division:
•	Example: 10÷210÷2
•	Result: 55
5.	Parentheses (for grouping):
•	Example: (4+3)×2(4+3)×2
•	Result: 1414
6.	Exponentiation:
•	Example: 2323 (2 raised to the power of 3)
•	Result: 88
7.	Mixed Operations:
•	Example: 5×(3+2)−85×(3+2)−8
•	Result: 1717
8.	Square Root:
•	Example: 99 (square root of 9)
•	Result: 33
9.	Modulo (Remainder):
•	Example: 11mod  311mod3 (remainder when 11 is divided by 3)
•	Result: 22
10.	Fractional Expression:
•	Example: 3443 (3 divided by 4)
•	Result: 0.750.75

In [2]:
#Create a code cell to multiply and add numbers.
import numpy as np
32*64

2048

In [3]:
#Create a code cell to convert minutes to hours.
import pandas as pd

# Example data: a pandas Series with minutes
minutes_data = pd.Series([400, 50, 130, 180])

# Convert minutes to hours directly in the DataFrame
conversion_df = pd.DataFrame({
    'Minutes': minutes_data,
    'Hours': minutes_data / 60
})

# Displaying the DataFrame
print(conversion_df)

   Minutes     Hours
0      400  6.666667
1       50  0.833333
2      130  2.166667
3      180  3.000000

Insert a markdown cell to list Objectives.

1. Understand the concept of converting minutes to hours.
2. Learn how to use Python and pandas for data manipulation.
3. Practice creating a pandas DataFrame with converted values.
4. Explore the relationship between minutes and hours in a tabular format.
5. Execute and observe the results of the code for better comprehension.

Authour - Salome Kyalo